# Model weights
models/*.pt
models/*.onnx

# Dataset
data/

# Outputs
outputs/

# MLflow
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local test files
test_env.py

# Database
*.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env
